<div class="container page">
    <div class="row">
        <div class="col-md-3 sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="#">Home</a>
                </li>
                <li role="presentation"><a href="#/posts">Posts</a></li>
            </ul>
        </div>
        <div class="col-md-8 main">
            <h1>Homepage</h1>
            <hr>
            <p>
                <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                Welcome to our board.
            </p>
        </div>
    </div>
</div>
